* {
  box-sizing: border-box;
}

#error_explanation {
  background-color: rgba(255, 252, 67, 0.945);
  color: red;
  margin: 0 auto;
}

.notification {
  .notice {
    background-color: rgb(47, 195, 253);
    color: red;
    text-align: center;
  }

  .alert {
    background-color: rgb(44, 228, 106);
    color: red;
    text-align: center;
  }
}




#notice {
  background-color: rgb(248, 203, 151);
}
.wrapper {
  background-image: image-url("b372b814");
  background-size: 100% 100%;
  width: 1440px;
  height: 790px;
  display: flex;
}
table {
  border-collapse: separate;
  border-spacing: 30px 3px;
  font-size: 15px;
}


.expenses {
  font-size: 20px;
}

.left_bar {
  width: 790px;
  background-image: image-url("cork_board_paper5");
  background-size: 90% 95%;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-left: 150px;
  &__head {
    display: flex;
    &__month {
    font-size: 30px;
    background-color: rgb(248, 179, 239);
    width: 100px;
    }
    &__btn {
      width: 400px;
      padding-left: 200px;
      font-size: 25px;
      display: flex;
      &__image {
        display: inline-block;
        padding: 0.4em 1.6em;
        font-size: 0.8em;
        color: #fff;
        text-decoration: none;
        user-select: none;
        background: #00b5ad;
        border: 1px #00b5ad solid;
        border-radius: 3px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
        transition: 0.2s ease;
      }
      &__image:hover {
        box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
  &__sum {
    display: flex;
    margin-left: 150px;
    margin-top: 10px;
    border-bottom: rgb(36, 228, 123) solid 3px;
    width: 250px;
    display: flex;
    align-items: flex-end;
    &__chara {
      font-size: 20px;
      margin-bottom: 5px;
    }
    &__number {
      margin-left: 30px;
      font-size: 30px;
      
    }
  }
  &__data{
    margin-top: 20px;
    width: 450px;
    height: 450px;
    overflow: scroll;
  }
}

.right_bar {
  width: 650px;
  &__input {
    width: 100%;
    height: 90px;
  }
  &__prevent_month {
    width: 100%;
    height: 100px;
    margin-left: 50px;
    background-image: image-url("cork_board_paper4");
    background-size: 60% 90%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    &__title {
      margin-left: 40px;
    }
    &__sum {
      margin-left: 40px;
      font-size: 30px;
      border-bottom: rgb(250, 162, 62) solid 3px;
    }
  }
  &__tag {
    width: 100%;
    height: 650px;
    margin-top: 20px;
    padding-top: 80px;
    padding-left: 70px;
    background-image: image-url("cork_board_paper3");
    background-size: 450px 400px;
    background-repeat: no-repeat;
  }
}

:root {
  --color: red;
}

.color{
  color: white;
  background-color: var(--color)
}